[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
djangorestframework = "*"
djangorestframework-jwt = "*"
django-filter = "*"
django-cors-headers = "*"
mysqlclient = "*"
Django = "*"
Markdown = "*"
pillow = "*"

[dev-packages]

[requires]
python_version = "3.6"
